<h1 class="animated fadeIn fast">Sorbre Comic App</h1>

<p class="animated fadeIn">
  Laudantium voluptatem hic voluptatem. Neque mollitia rem enim cupiditate. Dolore accusamus temporibus delectus accusantium tempore.
</p>
<p class="animated fadeIn">
Commodi unde id. Maxime libero deserunt esse minima molestias eum quidem voluptatibus. Voluptatum non delectus vero ipsum fuga est. Nisi quas qui modi dolorem delectus molestiae veniam nulla. Et eligendi dolore ab aliquam incidunt in ab. Quia quasi eos in aut.
</p>
<p class="animated fadeIn">
Similique minus rerum pariatur exercitationem dolor. Quisquam expedita mollitia ut dolore ut non porro ut. Debitis molestiae et asperiores voluptates non ea placeat. Autem deserunt quae et reprehenderit. Ut placeat eos.
</p>
